Report.aux
Report.fdb_latexmk
Report.fls
Report.log
Report.pdf
Report.bbl
Report.blg
Report.dvi
Report.synctex.gz

*.log
*.1

*.4ct
*.4tc
*.css
*.html
*.idv
*.lg
*.tmp
*.xref

_minted-Report/

target/